#
# IGNORE
#

NirCmd/*
Python/*

DS4Windows/*

#
# IGNORE EXCEPTIONS
#

NirCmd/.keep
Python/.keep

DS4Windows/Profiles/Ds4.xml
DS4Windows/Profiles/Xbox360.xml

DS4Windows/Actions.xml
DS4Windows/Auto Profiles.xml
DS4Windows/Profiles.xml
